.logo {
  display: inline;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 85px;
}
.logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;

  margin-right: 0;
}

.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;

  margin-left: 0px;
  margin-right: auto;
}
