.work-examples {
  margin-top: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.examples-text {
  position: absolute;
  bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  margin: 0px;
  padding: 30px;
}
